$green:#4B9200;
$black_blue:#333B41;
$orang:#F9804B;
$gray:#767474;
$yellow:#FFEE2E;
$gray_smoky:#ABABAB;
$light_gray:#F1F3F2;
$frosted_glass_white:#FDFDFF;
$red:#D31414;
$orange_grad:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$pink_gradient:linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

%btn_default{
	border-radius: 25px;
	display: flex;
	width: 298px;
	min-height: 54px;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2px;
	text-align: center;
	line-height: 140%;
	margin: 10px 0;
	transition: all 0.8s ease 0s;	
	background: $orange_grad;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	color: #FFFFFF;		
}

%btn_sq_default{
	width: 298px;
	height: 54px;
	background: $orange_grad;
	border-radius: 5px;
	transition: all 0.8s ease 0s;	
}
%btn_sq_hover{
	background: #E47209;
	border-radius: 5px;
}
%btn_sq_active{
	background: $green;
	border-radius: 5px;
}
%btn_sq_disabled{
	background:#767474;
	border-radius: 5px;
}

.container {
	max-width: 1180px;
	padding: 0 10px;
	margin: 0px auto;
}
@media (max-width: 1440px) {
	.container {
		padding: 0 20px;
	}	
}
@media (max-width: 1000px) {
	.container {
		padding: 0 30px;
	}	
}
@media (max-width: 980px) {
	.container {
		padding: 0 20px;
	}	
}	
@media (max-width: 600px) {
	.container {
		padding: 0 11px;
	}	
}
//-------------------slider-----------------------------------------------------------

.pets {
	margin: 0 0 100px;
	position: relative;
		&:before{
			content: "";
			position: absolute;
			width: 292px;
			height: 460px;
			background: url('../../../assets/images/flowers/palm.png') center / cover no-repeat;
			left: 0;
			bottom: -100px;
			z-index: -1;	
		}
		&:after{
			content: "";
			position: absolute;
			width: 368px;
			height: 275px;
			right: 0;
			bottom: -100px;
			background: url('../../../assets/images/flowers/strelitzia.png') center / cover no-repeat;
			z-index: -1;	
		}
	&__title{
		display: none;
	}	
}
.pets_container{
	position: relative;	
}
.flowers-left{
	left: -30px;
	bottom: -100px;	
	z-index: -1;	
}
.flowers-right{
	right: -30px;
	bottom: -100px;	
	z-index: -1;	
}
//  ---------------------------slider-wrapper--------------------------//
.pets__slider{
	margin: 0 auto 80px;
	//scroll-behavior: smooth;
	//overflow: auto;
 	//scrollbar-width: none;
	//&::-webkit-scrollbar {
		//height: 0;
	// }
}
//-----------------------slider-items-----------------------------------//
.slider__items {
	display: flex;
	flex-wrap: wrap;
	//display: grid;
	//grid-auto-flow: column;
	//grid-template-rows: repeat(2, 1fr);
   //grid-template-columns: repeat(3, 33%);
   //gap: 20px 30px;
	margin: -10px -15px;	
	position: relative;	
	overflow: hidden;
	//overflow: auto;
	//scrollbar-width: none;
}

.slider__item {
	flex: 0 1 33.333%;	
	padding: 10px 15px;
	border-radius: 5px;
	display: block;
	cursor: pointer;
	animation: 0.5s ease-in-out;
	&.active,
	&.next{
		display: block;
	}
	&.next{
		position: absolute;
		top: 0;
		width: 100%;
	}
}
#card_07{
	display: none;
}
@media (max-width: 1440px) {
	.slider__img{
		overflow: hidden;
	}
	.slider__img img{
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
@media (max-width: 1220px) {
	.pets {
		margin: 0 0 140px;
		&:before{
			width: 194px;
			height: 300px;
			bottom: -140px;
		}
		&:after{
			width: 241px;
			height: 180px;
			bottom: -140px;
			}
	}
	.slider__items {
		margin: -46px -14px;
		//grid-template-columns: repeat(3, 33%);
  		//gap: 92px 29px;
		//grid-template-rows: repeat(2, 1fr);
	}
	.slider__item {
		flex: 0 1 33.333%;	
		padding: 46px 14px;
	}
	#card_01{
		order: 1;
	}
	#card_02{
		order: 2;
	}
	#card_03{
		order: 4;
	}
	#card_04{
		display: none;
	}
	#card_05{
		order: 3;
	}
	#card_06{
		order: 6;
	}
	#card_07{
		display: block;
		order: 5;
	}
}

@media (max-width: 980px) {
	.pets {
		margin: 0 0 100px;
		&__slider{
			margin: 0 auto 60px;
		}
		&:before{
			bottom: -100px;
			}
		&:after{
			bottom: -100px;
			}
		}
	.pets .slider__item {
			flex: 0 1 50%;
		//grid-template-columns: repeat(2, 49%);
		//grid-template-rows: repeat(2, 1fr);
	
	}
	#card_01{
		order: 1;
	}
	#card_02{
		order: 2;
	}
	#card_03{
		order: 3;
	}
	#card_04{
		display: none;
	}
	#card_05{
		display: none;
	}
	#card_06{
		display: none;
	}
	#card_07{
		display: block;
		order: 4;
	}	
}
@media (max-width: 768px) {
	.pets {
		margin: 0 0 100px;
		&__slider{
			margin: 0 auto 60px;
		}
		&:before{
			bottom: -100px;
			width: 134px;
			height: 202px;
			}
		&:after{
			bottom: -100px;
			width: 175px;
			height: 131px;
			}
		}
}
@media (max-width: 600px) {
	.pets .slider__item {
		flex: 0 1 100%;
		//grid-template-columns: 1 fr;
	//grid-template-rows: 1fr;
	
	}
	.pets {
		margin: 0 0 60px;
		&__slider{
			margin: 0 auto 20px;
		}
		&:before {
			bottom: -60px;
			width: 54px;
			height: 80px;
		}
		&:after {
			bottom: -60px;
			width: 68px;
			height: 71px;
		}
	}
	.slider__items {
		margin: -10px 0;
		//gap: 0 20px;
	}
	.slider__item {
		padding: 10px 0px;
	}
}

.slider__item_wrapper{
	position: relative;
	display: block;
	box-sizing: border-box;
	background: #ffffff;
	border-radius: 5px;
	&:before {
		content: "";
		position: absolute;
		top: -1px;
		bottom: -1px;
		left: -1px;
		right: -1px;
		background: $orange_grad;
		border-radius: 5px;
		z-index: -1;
	}	
}
.slider__img {
	overflow: hidden;
	transition: all 0.8s ease 0s;	
	display: block;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;	
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.1);	
	}	
	&:hover:after {
		background: rgba(0, 0, 0, 0.6);
   }
}
.slider__img img{
	border-radius: 5px 5px 0 0;
}
.slider__text_animation{
	display: block;	
	transition: all 0.8s ease 0s;	
}
.slider__text_wrapper{
	display: flex;
	padding: 10px 11px 14px 11px;
	justify-content: space-between;
	overflow: hidden;
	border-radius: 0 0 5px 5px;
	z-index: -1;
	transform: translate(0, 0);
}
.slider__text {
	color: #000000;
}
.slider__title {
	font-weight: 500;
	line-height: 140%;
	text-transform: uppercase;
}
.slider__location {
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
}
.slider__icon {
	padding: 0 0 0 12px;		
}
.slider__item_wrapper:hover{
	
	.slider__img {
		transform: scale(1.1);
		border-radius: 5px;		
	}	
	.slider__text_animation{
		transform: translate(0, -60px);		
	}
	.slider__text{
		color: #ffffff;
	}		
}
.slider-arrow {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	top: 40.8%;	
	background: $orange_grad;
	cursor: pointer;
	&:hover{
		background: $green;
	}
	& img{
		vertical-align: baseline;
	}
}
.arrow-prev{
	left: -72px;
}
.arrow-next{
	right: -72px;
}
@media (max-width: 1220px) {
	.slider-arrow {
		top: calc(50% - 75px);	
	}
	.arrow-prev{
		left: 34.5%;
	}
	.arrow-next{
		right: 34.5%;
	}
}
@media (max-width: 980px) {
	.slider-arrow {
		top: calc(50% - 65px);
	}
	.arrow-prev {
		left: 38%;
  	}
  .arrow-next {
		right: 38%;
	}  
}
@media (max-width: 600px) {
	.slider-arrow {
		display: none;
	  }
}
.pets__button {
	margin: 0 auto;
	@extend %btn_default;
	transition: all 0.8s ease 0s;	
		&:hover{
			background:#E47209;	
		}
		&:active{
			background:#4B9200;	
		}
		&:disabled{
			background:#767474;	
		}
}
.to-left{
	animation-name: left;
}
.to-right{
	animation-name: right;
	animation-direction: reverse;
}
.from-left{
	animation-name: left;
	animation-direction: reverse;
}
.from-right{
	animation-name: right;
}
@keyframes left{
	from{
		left: 0;
	}
	to{
		left: -100px;
	}
}
@keyframes right{
	from{
		left: 100%;
	}
	to{
		left: 0
	}
}